.app-container {
  // height: 1500px;
  // width: 100%;
  // background-color: blue;
  // background-image: url('https://image.freepik.com/free-photo/different-raw-vegetable-blue-wooden-table_23-2147953583.jpg');
  // background-repeat:no-repeat;
}

.page-content {
  min-height: calc(100vh - 150px);
  margin: 20px;
  border: 1px solid blue;
  background-color: lightblue;
}
