<div class="app-container">
  <app-topnav></app-topnav>
<main class="page-content">
<router-outlet></router-outlet>
<p>---Sorting---</p>

  <table [ngStyle]= "{'border':'1px solid black'}">
    <th [ngStyle]="{'cursor' : 'pointer'}" (click)= "sortByName(arr)">Name:</th>
    <th [ngStyle]="{'cursor' : 'pointer'}" (click)= "sortByAge(arr)">Age:</th>
    <th [ngStyle]="{'cursor' : 'pointer'}" (click)= "sortByDob(arr)">Dob:</th>
   <tr> <td [ngStyle]= "{'border': '1px solid black'}"> <div *ngFor="let item of arr">{{item.name}}</div> </td>
        <td [ngStyle]= "{'border': '1px solid black'}"> <div *ngFor="let item of arr">{{item.age}}</div> </td>
        <td [ngStyle]= "{'border': '1px solid black'}"> <div *ngFor="let item of arr">{{item.dob}}</div>
  </tr>
      </table>

    <!-- <span> {{item.name}}</span> &nbsp;,
    <span>{{item.age}}</span> &nbsp;,
  <span>{{item.dob}}</span> &nbsp; -->
<app-parent [dataToParent] = "dataToParent"></app-parent>


</main>
<app-footer></app-footer>
</div>
