.footer {
    height: 80px;
    margin: 20px;
   background-color: black;
}

.footer-content {
  list-style: none;
  display: flex;
  padding-top: 20px;
 }

 .footer-options {
  font-family: cursive;
  padding: 8px;
  color: white;
 }
