<!-- <p>
TEST For *ngIF
</p>
-->
 <!-- <div #locationEle (click)="openAddress(locationEle)" *ngFor="let item of heroes; let i = index; let even = even; let odd = odd; let first = first; let last = last"
[ngClass] = "{odd : odd,
              even : even,
             first : first,
            last : last}">
  <p>{{item.name}}</p> <p>{{item.Age}}</p> <p>{{i}}</p> <p>{{even}}</p> <p>{{odd}}</p></div> -->

  <div class="alert-container">
      <div class="alert-wrapper"
      *ngFor = "let alert of ActivealertList"
      [@dismissAnimation]="animate?'active': 'inactive'">
      {{alert}}
      <button (click) = "closingAlert(alert)"> X
      </button>
      </div>
  </div>
