<!-- <p>
TEST For *ngIF
</p>
-->
 <!-- <div #locationEle (click)="openAddress(locationEle)" *ngFor="let item of heroes; let i = index; let even = even; let odd = odd; let first = first; let last = last"
[ngClass] = "{odd : odd,
              even : even,
             first : first,
            last : last}">
  <p>{{item.name}}</p> <p>{{item.Age}}</p> <p>{{i}}</p> <p>{{even}}</p> <p>{{odd}}</p></div> -->

  <div class="alert-container">
      <div class="alert-wrapper"
      *ngFor = "let alert of ActivealertList"
      [@dismissAnimation]="animate?'active': 'inactive'">
      {{alert}}
      <button (click) = "closingAlert(alert)"> X
      </button>
      </div>
  </div>

  <div class="program-tasks-section">
    <h2 class="program-tasks-section-title">
      Program Tasks
    </h2>
    <div class="program-tasks-section-content">
      <ul class="list">
        <li class="list-content" *ngFor="let program of programTasks">
          <a class="list-item">
            <div class="list-content">
            <h3 class="list-content-title">{{program.title}} </h3>
            <p class="sub-title">{{program.Desc}}</p>
            </div>
          </a>

        </li>
      </ul>
    </div>
  </div>

  <div class="recommended-section">
  <h2 class="recommended-section-title">Recommended</h2>
  <div class="recommended-main">
    <ul class="list recommendation-list">
     <li *ngFor="let recommendation of Recommendations | slice : 0:4">
       <a class="list-item">
     <div class="list-content">
       <small class="list-content-caption">COLLECTION</small>
    <h3 class="list-content-title"> {{recommendation.title}}</h3>
     </div>
     <div class="list-coll-image">
     <img [src]="recommendation.portraitImageURL" alt="recommendation.title">
     </div>
     </a>
     </li>
    </ul>
  </div>
  </div>
